.Control{
  width: 60%;
  max-width: 350px;
  margin: 8px auto;
  padding: 5px 15px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-grey);
  box-shadow: 5px 5px 5px var(--grey);
  border-radius: 3px;
}
.Buttons{
  width: 30%;
  display: flex;
  justify-content: space-between;
}
.Grey svg{
  fill: var(--grey);
}
@media (min-width: 381px){
  .Control, .Buttons p{
    font-size: 1.3rem;
  }
}