.Toolbar{
  background: var(--grey);
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
  z-index: 200;
}
.Toolbar img{
  height: 100%;
}
.Toolbar nav{
  height: 100%;
  flex-grow: 0;
}

@media (max-width: 499px){
  .DesktopOnly{
    display: none;
  }
}