.Toolbar{
  background: var(--grey);
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
  z-index: 200;
}
.Toolbar button{
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 30px;
  height: 30px;padding: 0;
  margin-left: 15px;
  background-color: transparent;
  border: none;
  outline: none;
}
.Toolbar img{
  height: 90%;
}
.Toolbar nav{
  height: 100%;
  flex-grow: 0;
}
.MenuIcon{
  height: 25px;
  width: 25px;
  fill: var(--white);
}

@media (max-width: 499px){
  .DesktopOnly{
    display: none;
  }
  .Toolbar button{
    display: flex;
  }
  .Toolbar img{
    height: 80%;
    padding: 0 15px;
  }
}