.Cover{
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-color: var(--grey);
  opacity: 0;
  transition: opacity .6s;
  overflow: hidden;
}
.CoverVisible{
  z-index: 499;
  opacity: .6;
}
.Modal {
    transform: translateY(-100vh);
    position: fixed;
    z-index: 500;
    background-color: var(--light-grey);
    box-shadow: 5px 5px 5px var(--grey);
    border-radius: 3px;
    width: 80%;
    padding: 16px;
    left: 10%;
    top: 10%;
    box-sizing: border-box;
    transition: transform .2s ease-out;
}
.Modal > button:first-child{
  position: absolute;
}
.Modal h3{
  text-align: center;
  margin: 0 auto;
}
.ModalVisible{
  transform: translateY(0);
}

@media (min-width: 600px){
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
        top: 20%
    }
}