.BurgerBuilder{
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 42px;
}
.BurgerBuilder > div:first-child {
  margin: 5% 0;
}
@media (min-width: 700px){
  .BurgerBuilder{
    flex-direction: row;
    justify-content: space-between;
    align-items: center
  }
  .BurgerBuilder > div:first-child {
    margin: 0 5%;
  }
}
.Buttons{
  margin: 0 auto;
  height: 120px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media (min-width:480px){
  .Buttons{
    width: 55%;
    height: 10%;
    flex-direction: row;
  }
}