.SideDrawer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 280px;
  max-width: 70%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 510;
  background-color: var(--light-grey);
  padding: 32px 16px;
  box-sizing: border-box;
  transition: transform .2s ease-out;
}
.SideDrawer img {
  height: 15%;
  margin-bottom: 15px;
}
.SideDrawer nav{
  width: 100%;
}
@media (min-width: 500px){
  .SideDrawer{
    display: none;
  }
}

.Open{
  transform: translateX(0);
}

.Close{
  transform: translateX(-105%);
}