:root {
  --grey: #141414;
  --light-grey: #242424;
  --lighter-grey: #444444;
  --white: #ffffee;
  --green: #064700;
  --light-green: #0a7a00;
  --red: #882323;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;

  background: radial-gradient(transparent -60%, var(--grey) 120%),
              url('./assets/wood_back.jpg');  
  background-size: cover;
  background-position: center;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, input, select, button, textarea {
  font-family: Poppins, Ubuntu, sans-serif;
  color: var(--white);
}
